
<section ng-controller="JobsController">
    <div id="jobs">
        <h1>Jobs</h1>

        <div>
            <button ng-hide="user.RoleName !== 'Admin'" ng-click="edit(0)" type="button" class="btn btn-default  pull-right"><span class="glyphicon glyphicon-plus"> </span> Add Job</button>
        </div>

        <div class="btn-group" role="group">
            <button ng-hide="user.RoleName !== 'Admin'" ng-class="{active: btnMeOrAll === 'all'}" ng-click="filterFetch('all')" type="button" class="btn btn-default">All</button>
            <button ng-class="{active: btnMeOrAll === 'me'}" ng-click="filterFetch('me')" type="button" class="btn btn-default">Assigned to me</button>
        </div>

        <div class="btn-group" role="group">
            <button ng-class="{active: btnStatus === 'all'}"  ng-click="filter('all')" type="button" class="btn btn-default">All ({{ count() }})</button>
            <button ng-class="{active: btnStatus === status.Name}" ng-click="filter(status.Name)" ng-repeat="status in jobStatuses" type="button" class="btn btn-default">{{ status.Name }} ({{ count(status.Id) }})</button>
        </div>

       

        <table class="table table-hover">
            <thead>
                <tr>
                    <th ng-hide="user.RoleName !== 'Admin'">edit</th>
                    <th>id</th>
                    <th>description</th>
                    <th>status</th>
                    <th>creation date</th>
                    <th>created by</th>
                    <th>assigned to</th>
                    <th>reviewed by</th>
                    <th>video</th>
                    <th>job setup</th>
                    <!--<th>progress</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs">
                    <td ng-hide="user.RoleName !== 'Admin'"><span ng-click="edit(job.JobId)" class="glyphicon glyphicon-edit" /></td>
                    <td><a href="#/jobs/{{job.JobId}}/tag">{{ job.JobId }}</a></td>
                    <td>{{ job.Description }}</td>
                    <td>{{ job.StatusName }}</td>
                    <td>{{ job.CreateDate | date:'dd-MM-yyyy' }}</td>
                    <td>{{ job.CreatedByName }}</td>
                    <td>{{ job.UserName }}</td>
                    <td>{{ job.ReviewedByName }}</td>
                    <td>{{ job.VideoName }}</td>
                    <!--<td>{{ job.Config && job.Config.labels && job.Config.labels.join(',') }}</td> -->
                    <td>
                        <span class="glyphicon" ng-class="{'glyphicon glyphicon-resize-small' : this.toggle, 'glyphicon glyphicon-resize-full': !this.toggle}" ng-click="this.toggle = !this.toggle"></span>
                        <table class="table table-bordered" ng-class="{'ng-hide' : !toggle}">
                            <tr><td>location type</td><td>{{ job.Config.locationtype }}</td></tr>
                            <tr><td>location shape</td><td>{{ job.Config.locationshape }}</td></tr>
                            <tr><td>multi-locations</td><td>{{ job.Config.multilocations ? 'true' : 'false'}}</td></tr>
                            <tr><td>location size</td><td>{{ job.Config.locationsize }}</td></tr>
                            <tr><td>tags</td><td>{{ job.Config && job.Config.tags && job.Config.tags.join(', ') }}</td></tr>
                        </table>

                    </td>
                    <!--<td>{{ job.Progress }}%</td> -->
                </tr>

            </tbody>
        </table>
    </div>

  
</section>
