
<section ng-controller="UsersController">
    <div>
        <h1>Users</h1>
       

        <div>
            <button ng-click="addUser()" type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"> </span> Add User</button>
        </div>

        <table class="table table-hover m-t-2">
            <thead>
                <tr>
                    <th>action</th>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>role</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="user in users">
                    <td><button ng-click="editUser()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"> </span> Edit User</button>
                    <td>{{ user.Id }}</td>
                    <td>{{ user.Name }}</a></td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.RoleName }}</td>
                </tr>

            </tbody>
        </table>
    </div>

  
</section>
